.ag-sort-order {
  display: none !important; /* removing sort order number */
}

.ag-cell-focus, .ag-cell-no-focus {
  border: none !important; /* removing border when clicking on individual cells */
}